/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
body{
    font-size: 14px;
    a{
        text-decoration: none;
        color: #1a0dab;
    }
}